<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%=@name%>, </h1>
    <p>
      We would like to confirm that your reservation number <%=@reservation.id%> 
      was succesfull. 
      <p>
      Please find your tickets below.
    <p>
      Please make sure to confirm your reservation 30 minutes before the seance at the ticket desk.
    </p>
    <p>
      Enjoy the movie! <%= @url %>.
    </p>
    <p>
    <% @reservation.tickets.map do |ticket| %>
    Your seat is: 
    <%= ticket.seat %>
    </p>
    <p>
      <%  @qr_code = ::Tickets::UseCases::GenerateQrCode.new.call(ticket.id) %>
       <%= raw @qr_code.as_svg %>
  <% end %>
    </p>
    <p>Thanks for joining Monterail Cinema and have a great day!</p>
  </body>
</html>